

  <div fxFlex="100%">
      <mat-card>
        <mat-card-content class="text-xs-center">
          <div fxLayout="column"  fxLayoutAlign="center center" class="mt-1">

            <div fxFlex>
              <img src="assets/images/face1.jpg" class="radius-circle">
            </div>
            <div fxFlex>

            </div>
          </div>
          <p class="mb-1">
            <a href="" class="block text-lg">{{this.studentObj.STUD_NAME}}</a>
            <span class="mat-text-muted">{{this.studentObj.POST_NAME}}</span>
          </p>

          <div fxLayout="row wrap" class="mt-1 text-uppercase">
            <div fxFlex="33.33%">
              <h2 class="mt-0 mb-0">{{this.studentObj.STUD_CLSS_NME}}</h2>
              <p class="mt-0 mb-0 text-md mat-text-muted">Class</p>
            </div>
            <div fxFlex="33.33%">
              <h2 class="mt-0 mb-0">{{this.age}}</h2>
              <p class="mt-0 mb-0 text-md mat-text-muted">Age</p>
            </div>
            <div fxFlex="33.33%">
              <h2 class="mt-0 mb-0">{{this.studentObj.STUD_SINCE}}</h2>
              <p class="mt-0 mb-0 text-md mat-text-muted">Since</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>


    <div fxFlex="100%">
      <div fxLayout="column wrap" >
        <mat-card>
          <div fxLayout="row wrap" >
          <div fxFlex=65%>
          <mat-card-title>{{this.studentObj.STUD_NAME}}</mat-card-title>
          <mat-card-subtitle>Student Details</mat-card-subtitle>
        </div>
        <div fxFlex="10%" >
        <div fxLayout="row wrap" >
          <a routerLink={{this.editLink}} fxLayoutAlign=right> <button mat-raised-button color='accent'>Edit</button></a>
          <!-- editURL bayez -->

        <div *ngIf='ifActive; else elseBlock'>
          <button mat-raised-button color='red' (click)='DeactivateStudent()' >Deactivate</button>
        </div>
        <ng-template #elseBlock>
          <button mat-raised-button color='green' (click)='ActivateStudent()' >Activate</button>
        </ng-template>

      </div>
    </div>
          <hr>
          <mat-list>
            <mat-list-item>
              <h3 matLine>Custom ID</h3>
              <p matLine>{{this.studentObj.STUD_CSID}}</p>
            </mat-list-item>
            <mat-list-item>
              <h3 matLine>Telephone Number</h3>
              <p matLine>{{this.studentObj.STUD_TEL}}</p>
            </mat-list-item>
            <mat-list-item>
              <h3 matLine>Parent Name</h3>
              <p matLine>{{this.studentObj.STUD_PRNT_NAME}}</p>
            </mat-list-item>
            <mat-list-item>
              <h3 matLine>Parent Telephone Number</h3>
              <p matLine>{{this.studentObj.STUD_PRNT_TEL}}</p>
            </mat-list-item>
            <mat-list-item>
              <h3 matLine>Parent Telephone Number2</h3>
              <p matLine>{{this.studentObj.STUD_PRNT_TELL}}</p>
            </mat-list-item>

            <mat-list-item>
              <h3 matLine>Height</h3>
              <p matLine>{{this.studentObj.STUD_LGTH}}</p>
            </mat-list-item>
            <mat-list-item>
              <h3 matLine>Weight</h3>
              <p matLine>{{this.studentObj.STUD_WGHT}}</p>
            </mat-list-item>
            <mat-list-item>
              <h3 matLine>Birth Date</h3>
              <p matLine>{{this.studentObj.STUD_BD}}</p>
            </mat-list-item>
            <mat-list-item>
              <h3 matLine>Mentor Name</h3>
              <p matLine>{{this.studentObj.STUD_MNTR_NAME}}</p>
            </mat-list-item>
            <mat-list-item>
              <h3 matLine>Previous Clubs</h3>
              <p matLine>{{this.studentObj.STUD_PREV_CLUB}}</p>
            </mat-list-item>
            <mat-list-item>
              <h3 matLine>ID Number(Barcode)</h3>
              <p matLine>{{this.studentObj.STUD_BARCODE}}</p>
            </mat-list-item>
            <mat-list-item>
              <h3 matLine>Access Code</h3>
              <p matLine>{{this.studentObj.STUD_ACCS_CODE}}</p>
            </mat-list-item>
            </mat-list>
          </div>
        </mat-card>
    </div>
  </div>




  <ngx-datatable
  class='material selection-cell'
  [columns]="attendanceColumns"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [limit]="10"
  [rows]='attendanceRows'
  [selectionType]="'cell'">
  </ngx-datatable>

  <ngx-datatable
  class='material selection-cell'
  [columns]="paymentColumns"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [limit]="10"
  [rows]='paymentRows'
  [selectionType]="'cell'">
  </ngx-datatable>
